@import 'core/vendors';

.searchSection{
	padding: 10px;
	height: 15vh;
	&__title{
	margin:10px;
	font-size: 20px;
	};
}
.form__input{
	height: 30px;
	border-radius: 5px;
}
.form__button{
	height: 30px;
	width: 60px;
	border:none;
	border-radius: 5px;
	font-size: 12px;
	font-weight: 700;
	background-color: rgb(41, 38, 38);
	color: aquamarine;
	cursor: pointer;
	&:hover{
		border: 2px solid rgb(41, 38, 38);
		color: rgb(41, 38, 38);
		background-color: aquamarine;
	}
}
.main {
	padding: 10px;
	display: flex;
	flex-direction: row;
	font-family: 'Lucida Sans', sans-serif;
	font-size: 16px;
}

.allSeries__container{
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	background-color: aquamarine;
}
.serie-content{
	padding: 10px;
}
.serie-img{
	width: 250px;
	cursor: pointer;
}
.serie-text{
	display: block;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
}

.favourites__container{
	width: 100%;
}

.favourite-list {
	list-style: none;
	padding:10px;
}

.favourite-content {
	display: flex;
	padding: 5px;
}

.favourite-image{
	width: 100px;
}

.favourite-name {
	width: 100px;
	align-self: center;
  margin: 10px;
}

.icon{
	width: 25px;
  height: 25px;
	padding: 8px;
  border-radius: 50%;
  color: #fff;
  background-color: #6e0808;
  cursor: pointer;
	font-size: 12px;
	font-weight: 600;
  text-align: center;
  align-self: center;
}

.click-select {
	background-color: #a09999;
}

.deleteButtonStyle{
	width: 100px;
	height: 30px;
	color: #fff;
	background-color: #6e0808;
	text-align: center;
	border: none;
	border-radius: 5px;
}

.hidden {
	display: none;
}
