<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Adalab Web Starter Kit</title>
    <link rel="icon" href="./favicon.png" />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>
  <body>
    <main class="main">
      <section class="searchsection">
        <h2 class="searchTitle">Buscador de series</h2>
        <form action="" method="POST" class="form" id="form">
          <input type="text" id="inputSearch" class="inputSearch">
          <button type="button" class="buttonSearch" id="buttonSearch">Search</button>
        </form>
      </section>
      <section class="allSeries">
        <div class="seriesContainer"></div>
      </section>
      <section class="favourites">
        <h3 class="favouritesTitle">Mis series favoritas</h3>
        <div class="favouritesContainer"></div>
      </section>
    </main>
    <script type="text/javascript" src="../assets/js/main.js"></script>
  </body>
</html>
